# Qt Creator files
*.pro.user
*.pro.user.*
*.qtc_clangd/

# Build folders
build-*/
build/

# MacOS system files
.DS_Store

# Object / binary files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.log
*.ilk
*.pdb
*.idb